/* Resets & Resources */
:root {
    --primary-white-text: #f9f9f9;
    --secondary-white-text: #fdfdfd;
    --primary-black-text: rgb(43, 44, 43);
    --primary-neutral-text: gray;
    --primary-bg: hsl(103, 100%, 37%);
}

html {
    font-size: 1rem;
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: .5em;
}

p {
    font-size: 1rem;
    letter-spacing: 0.6px;
    margin-bottom: .5em;
    line-height: 1.5;
    max-width: 75ch;
}

label, input {
    letter-spacing: 0.6px;
}

/* Uitility Classes */

.boldest {
    font-weight: 800;
}

.bolder {
    font-weight: 600;
}

.bold {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.fold-only {
    display: none;
}

.btn {
    text-decoration: none;
    color: var(--primary-white-text);
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.btn-shaking {
    animation: jump-shaking 2s ease infinite;
}

/* Components */

#hero {
    color: var(--primary-white-text);
    background-color: var(--primary-bg);
}

.hero__text {
    padding: 2em 1em 0 1.5em;
}

.hero__title-span {
    font-weight: 800;
    color: var(--secondary-white-text);
    text-shadow: 1px 2px 21px rgba(0, 0, 0, 0.4);

}

#subtitle.appear {
    display: inline-block;
    animation: vertical-shaking 1s ease;
}

.hero__p-free {
    font-weight: 600;
}

.hero__btns {
    display: flex;
    padding-bottom: 1em;
}

.hero__btn {
    display: block;
    width: fit-content;
    letter-spacing: 1px;
    font-size: .9rem;
    padding: .5em 2em;
    margin: 1em;
    background-color: hsl(118, 98%, 25%);
    border-radius: 3em;
}

.hero__btn-learn {
    background-color: hsl(103, 98%, 25%);
}

#started {
    margin: auto;
    width: fit-content;
    padding: 2em 3em;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background-color: var(--primary-white-text);
}

#started::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#started a {
    margin-bottom: 1em;
}

.started__text-hr {
    margin-bottom: 2em;
}

.started__inputs-form {
    display: flex;
    flex-direction: column;
}

input[type='email'] {
    margin-bottom: 1em;
}

/* Responsive */

@media (min-width: 607px) {
    html {
        font-size: 1rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
    }

    .hero__btn {
        font-size: 1.25rem;
        padding: .75em 2.5em;

    }
}

@media (max-width: 280px) {
    .fold-only {
        display: block;
    }

    h1 {
        display: none;
    }

    .hero__btn {
        padding: .4em 1.5em;
        font-size: 0.9rem;
    }
}

/* Animations */

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-4px) }
  35% { transform: translateY(-4px) rotate(2deg) }
  55% { transform: translateY(-4px) rotate(-2deg) }
  65% { transform: translateY(-4px) rotate(2deg) }
  75% { transform: translateY(-4px) rotate(-2deg) }
  100% { transform: translateY(0) rotate(0) }
}

@keyframes vertical-shaking {
    0% { transform: translateY(0) }
    50% { transform: translateY(-3px) }
    100% { transform: translateY(0) }
  }